<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/loginStyles.css">
    </head>
    <body>
        {%for i in range(8)%}
            <br>
        {%endfor%}
        <h1>Login to your account</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Enter username or Email" name="username" required>
            <p><input type="password" placeholder="Enter password" name="password" required></p>
            <input type="submit" value="Login" class="button">
        </form>
        <a href="/sign-up"><p>Don't have an account? Sign up from here.</p></a>
        <a href="/recovery"><p>I forgot my password.</p></a>
        <p style="text-align: center; color: tomato;">{{message}}</p>
    </body>
</html>